<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_account.css') }}">
</head>

<body>

{% include 'account_header.html' %}

<! -- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flashes">
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<section class="create_account">
    <!--Game logo-->
    <img class="game_logo" src="{{ url_for('static', filename='game_logo.png') }}" alt="game logo">

    <!--Account detail section-->
    <div class="account_detail">
        <!--Title Login-->
        <h2>Login your account</h2>

        <form method="post" action="{{ url_for('auth_bp.login') }}">
            {{ form.hidden_tag() }}

            <!--Input username-->
            {% if user_name_error_message %}
            <div class="errors">{{ user_name_error_message }}</div>
            {% endif %}
            {{ form.username(class="username", placeholder="Username...") }}
            {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!--Input password-->
            {% if password_error_message %}
            <div class="errors">{{ password_error_message }}</div>
            {% endif %}
            {{ form.password(class="password", placeholder="Password...") }}
            {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div style="width: 376px; display: flex; justify-content: space-between">
                <!--Remember me button-->
                <span style="display: flex; align-items: center;">{{ form.remember_me(class="remember_me") }} Remember Me</span>

                <!--Login button-->
                {{ form.submit(class="user_account_button") }}
            </div>

        </form>

        <!--If user doesn't have an account-->
        <div class="account">
            <p>Don't have an account?</p>
            <a href="{{ url_for('auth_bp.register') }}">Register</a>
        </div>

    </div>

</section>

<footer class="copyright">
    &copy; hche589 | stan363 | ycha624
</footer>

</body>

</html>
